<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Cabecalho -->
    <%-  include('partials/header.ejs'); %>

    <main>

        <section class="descricao">
            <div>
                <img src=<%=produto.imagem_produto%> > 
            </div>

            <section class="s-descricao">
                <div>
                    <h2><%=produto.nome%></h2>
                    <p>Código do produto:  00100100102019</p>
                    <p>Descrição: 
                        <%=produto.descricao%>
                    </p>    
                </div>
                
                <div class="price"> 
                    <span>R$<%= produto.valor%></span>
                    <a href="Sacola.html"><button>Adicionar ao Carrinho</button></a>
                </div>
                
            </section>
        </section>
        
    </main>



    <%- include('partials/footer.ejs'); %>

</body>

</html>